/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 1366px) {


    section {
        padding: 64px 20px !important;
    }

    h1.title {
        font-size: 58px;
    }

    .profile-picture {
        width: 250px !important;
        height: 250px !important;
    }

    .circle {
        width: 100px !important;
        height: 100px !important;
        font-size: 18px !important;
    }

    .camarasoft section,
    .inspiring-software section,
    .footer section {
        min-height: 100vh;
        height: unset;
    }

    .frontend img {
        margin-top: 40px;
        width: 200px;
    }

    .backend img {
        margin-top: 40px;
        width: 250px;
    }

    .dev-ops img {
        width: 200px;
    }

    .dev-ops>section>div>div:nth-child(2)>div:nth-child(2)>p {
        text-align: center;
        margin-top: 40px;
    }

    .github .saturn {
        top: -225px !important;
        left: -211px !important;
    }

    .github .moon {
        bottom: -440px !important;
        right: -295px !important;
    }

    .phone-contact img, .email-contact img {
        width: 150px !important;
    }

    .phone-contact a, .email-contact a {
        font-size: 20px !important;
    }

    .footer img {
        width: 300px !important;
        border-radius: 10px !important;
        margin-bottom: 40px;
    }

    .credits {
        margin-top: 40px !important;
        font-size: 12px !important;
    }
}

/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width:641px) {}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:961px) {}

/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {}

/* hi-res laptops and desktops */
@media (min-width:1281px) {}